<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/login" method="post">
      <input type="text" name="name">
      <input type="password" name="password">
      <input type="submit" value="submit">
    </form>
    
  </body>
</html>
