<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="app/public/js/jquery-3.2.1.js"></script>
​
    <title></title>
  </head>
  <body>​
    <% subjects.forEach(function (subjects) { %>
​
            <div >
              <a href="/tutor" onclick="sendsubid('<%= subjects.subjectid %>')"><h1><%= subjects.subject %></h1></a>
              <p id="subject"><%= subjects.subjectid %></p>
            </div>
​
    <% }) %>
​
    <script type="text/javascript">
      function sendsubid(sid) {
        var subject = sid;
        var params = "subject="+subject;
        $.post("http://localhost:8000/subject",params,function(data){
        });
      }
    </script>
  </body>
</html>
