<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% units.forEach(function (units) { %>


            <p><%= units.title %></p>
      <iframe width="1200px" height="680px" src="<%= units.urlid %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <p><%= units.description %></p>
    <% }) %>

  </body>
</html>
